<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88562614680-6rbboidbh2oo6svu16dnkkhulh3bp8ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88562614680-6rbboidbh2oo6svu16dnkkhulh3bp8ar</string>
	<key>API_KEY</key>
	<string>AIzaSyBGKy7pAsa0hc21y1ZcHJbWCSFqpBAcUq8</string>
	<key>GCM_SENDER_ID</key>
	<string>88562614680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappclone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-1f998</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-1f998.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88562614680:ios:71ce5359c9c5f7a09e6bed</string>
</dict>
</plist>